:root {
    --main-border-color: #3e3e3f;
}

.content {
  flex: 1;
  display: flex;
}

.leftVertical{
  flex: 1;
  display: flex;
  flex-direction: column;
}

.upperHorizontal{
  flex: 1;
}

.resizable{
  display: inline-block;
  overflow: hidden;
  padding: 20px;
}

.birdDetails{
  border-top: 5px solid var(--main-border-color);
  padding: 0;
}
.cageDetails{
  border-left: 5px solid var(--main-border-color);
  padding: 0;
  word-break: break-word;
}
